.comments {
  display: none;
}

h1 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.post {
  padding-top: 5px;
  padding-bottom: 5px;
}

.options {
  float: right;
}

.panel {
  margin-bottom: 0px;
}

.glyphicon-remove {
  color: red;
}

.comment {
  padding-left: 30px;
  font-size: 12px;

}
