html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
  background-color: #e9e9e9;
}

input {
  width: 100%;
  margin: 5px 0px;
  padding-left: 7px;
}

i {
  margin-top: 5px;
  margin-right: 10px;
}

.inner-container {
  background-color: #c7dfff;
  border-radius: 10px;
  border: solid #4376d4 2px;
  margin-bottom: 200px;
  margin-top: 15px;
  word-wrap: break-word;
}

.input-area {
  margin-top: 30px;
}

.posts {
  margin-top: 30px;
  margin-bottom: 50px;
}

.userpost {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.post-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

.icon-row {
  display: inline-block;
  margin-left: 20px;
}

.hidden-comments {
  display: none;
  font-size: 14px;
  font-weight: bold;
}

.comment-section {
  margin-top: 20px;
  margin-left: 15px;
}

.timestamp {
  float: right;
  font-size: 14px;
}

.comment-text {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 17px;
}

.comment {
  color: #2aca2a
}

.comment-post {
  font-family: 'Sarabun', sans-serif;
  display: none;
}

.comment-icon-row {
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
}

.add-comment {
  display: none;
  margin-top: 20px;
}

.delete-post, .delete-comment {
  color: #cc0909;
}

.fa-edit {
  color: #17238f
}

.edit-post, .edit-comment {
  display: none;
}

.edit-message, .edit-comment-message {
  margin-right: 20px;
  width: 85%
}

.show {
  display: block;
}

.show-add-comment {
  display: inline;
}

.comments-hidden {
  display: inline-block;
}