.post-btns {
  margin-right: 10px;
}

.post-form {
  margin-top: 30px;
  margin-bottom: 25%;
}

.comment-form {
  margin-top: 15px;
  padding-left: 30px;
}

.edit-form {
  margin-top: 15px;
  padding-left: 30px;
  display: none;
}
