.posts {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  min-height: 60vh;
}
.post-author {
  font-size: 2rem;
}

.post-bubble {
  border: 2px black solid;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  margin-bottom: 2px;
}

i {
  font-size: 20px;
  position: relative;
  top: 5px;
}

.post-header {
  padding-bottom: 2%;
}

.navbar-fixed-bottom {
  padding-bottom: 2%;
}
.form-group textarea {
  min-height: 8vh;
  max-height: 8vh;
  min-width: 50vw;
  max-width: 90vw;
}

/* Sticky footer styles for better mobile responsiveness
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 26vh;
  max-height: 74vh;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 26vh;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.hidden {
  display: none;
}
.comment {
  padding-top: 1%;
}
.comment button {
  margin-right: 2%;
}
