.bttn-done {
  color: #fff;
  background-color: #336699;
  border-color: #336699;
}

.bttn-post {
  color: #fff;
  background-color: #1a1300;
  border-color: #1a1300;
}
.bttn-post:hover{
  background-color: rgba(204, 153, 0, .75)
}

.comment-box {
  padding: 15px;
}

.commenter {
  color: rgba(255, 210, 77);
  font-weight: bold;
  margin-bottom: -5px;
  border-left: 1px dotted #ecf2f9;
  border-top: 1px dotted #ecf2f9;
  border-right: 1px dotted #ecf2f9;
}

.comment-message {
  border-left: 1px dotted #ecf2f9;
  border-bottom: 1px dotted #ecf2f9;
  border-right: 1px dotted #ecf2f9;
}

.comments-padding {
  width: 10%
}

.comments-width {
  width: 50px;
}

.edit-height {
  height: 200px;
}

.edit-width {
  width: 17px;
}

/* .float-post{
  float: left;
  position: fixed;
  margin:auto;
  top: 300px;
  background-color: rgba(34, 34, 17);
  left: 25%;
  width: 50%;
} */

.hide {
  display: none;
}

.input-height {
  height: 100px;
}

.options-position {
  font-size: 50%;
  float: left;
  display: inline-block;
}

.padded-column {
  width: 2%
}

.page-background {
  background-image: url(barrels.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding-bottom: 200px;
}

.post-bg {
  background-color: rgba(34, 34, 17, 0.75);
  top: 0;
  left: 25%;
  width: 50%;
}

.posts-border {
  border: 1px solid rgba(255, 198, 26, 0.4);
  background-color: rgba(34, 34, 17, 0.75);
  opacity: 100%;
  width: 95%;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  color: #ddddbb;
}

.primary-background {
  background-color: : rgba(221, 221, 187, .5);
}

.primary-text {
  color: rgba(221, 221, 187, .75);
}

.primary-text:hover {
  color: rgba(221, 221, 187);
}

.remove-width {
  width: 45px;
}

.show{
  display: block;
}

.tborder-gray:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  border-top: 1px solid rgba(221, 221, 187, .4);
}

h2 {
  color: #ddddbb;
}

h5 {
  color: rgba(255, 210, 77);
}

p {
  color: rgba(221, 221, 187, .85);
}

p a {
  float: right;
  text-decoration: none;
  color: rgba(221, 221, 187, .85);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}

p a:hover {
  color: white;
  text-decoration: none;
}

input {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(256, 256, 256, .7);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(256, 256, 256, .7);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
