body {
  margin: 0;
}

h1 {
  font-size: 40px;
}

.newPostDiv p {
  margin-bottom: 0px;
}

#submit {
  background-color: #007effeb;
}

.comments-div {
  display: none;
}

.comments {
  color: #007effeb;
  cursor: pointer;
}

.comments-posts p {
  padding-left: 10px;
  padding-top: 5px;
}

.newCommentDiv {
  display: flex;
  align-items: center;
}

.newCommentDiv p {
  margin-bottom: 5px;
}

#submit-comment {
  background-color: #007effeb;
  cursor: pointer;
}

.remove {
  color: rgb(237, 64, 64);
  padding-left: 10px;
  cursor: pointer;
}
