body {
  background-color: rgb(44, 43, 43);
  height: 200vh;
}

.page-header {
  border-bottom: 0px transparent;
  margin-top: 0;
  background-color: rgb(47, 79, 79, 0.5);
}

.main {
  margin-top: 75px;
}

h1 {
  color: aliceblue;
  margin-top: 10px;
}

.post {
  color: aliceblue;
  background-color: darkslategrey;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
}

.comment-section {
  display: none;
  padding-left: 10%;
}

.show {
  display: block;
}

.comment {
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(44, 43, 43);
  border-radius: 5px;
}

.submit-comment {
  position: fixed;
  bottom: 25px;
  left: 25%;
  width: 50%;
}

.submit-comment-col {
  position: fixed;
}

.btn-post {
  background-color: rgb(44, 43, 43);
  font-weight: 600;
}

.btn-post:hover {
  background-color: darkturquoise;
}

.btn-submit {
  color: white;

  background-color: darkslategray;
}

.btn-submit:hover {
  font-weight: 600;
  background-color: darkturquoise;
}

.fa-trash:hover {
  color: red;
}

.fa-comment:hover {
  color: rgb(28, 170, 206);
}

.fa-pen-to-square:hover {
  color: chartreuse;
}

.edit-post {
  display: none;
  position: fixed;
  left: 33.333%;
  top: 25%;
  background-color: rgb(47, 79, 79, 0.7);
  width: 33.333%;
  border-radius: 8px;
  z-index: 10;
}

.edit-post-inner {
  padding: 15px;
}
