* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(#f0f7fc, #e3f2fd);
  font-family: "Montserrat", sans-serif;
}

header {
  margin-top: 15rem;
  margin-bottom: 5rem;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #212529;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: rgb(32, 32, 32);
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar .navbar-brand {
  font-size: 2rem;
}

.btn.return-btn {
  width: 20rem;
  text-align: center;
  display: none;
  transition: 0.4s;
}

.btn.return-btn:hover,
.btn.return-btn:active {
  background-color: white;
  color: black;
}

.container {
  padding-top: 2rem;
}

.comment-box {
  padding-top: 10rem;
}

hr {
  margin: 2rem 0;

  text-align: center;
}

input {
  font-family: inherit;
  font-size: 2rem;
}

input[type="text"] {
  padding: 1rem;
}

#name-input {
  margin-top: 2rem;
}
.name-input-val {
  font-weight: bold;
}

.post-input-val {
  font-size: 2.2rem;
}

.error-msg {
  font-style: italic;
  color: rgb(104, 6, 6);
  background-color: white;
  padding: 2rem;
  display: none;
}

.icon-trash,
.icon-chat {
  padding: 0 1rem;
  font-size: 2.5rem;
}

.posts,
.selected-post {
  padding: 2rem;
}

.form-control {
  padding-bottom: 4rem;
}
.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: 0px 0 0 3px rgba(67, 160, 247, 0.3);
}

.btn {
  color: #fefeff;
  border: none;
  width: 14rem;
  height: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.9px;
}

.btn-primary {
  background-color: rgb(51, 142, 228);
  border: none;
}

.submit-btn-div {
  margin: 2rem auto;
  margin-top: 3rem;
}

.comment-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  background-color: #fefeff;
  display: none;
  transition: 0.4s;
}

.comments {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20%;
}

.comments .no-comment-text {
  text-align: center;
  /* margin-left: -20% auto; */
  padding: 0;
  font-size: 1.6rem;
  color: rgb(168, 165, 165);
}

.post.active {
  margin: 0 auto;
  margin-left: 15%;
  font-size: 2rem;
}

.comment-separator {
  width: 75%;
  margin: 0 auto;
}

/* his is to override the annoying feature in bootstrap where the bottom got fixed to the left on this breakpoint */
@media (min-width: 992px) {
  .navbar {
    justify-content: space-between;
  }
}
