
h2 {
  border-bottom:  1px solid lightgrey;
}
input {
  width: 100%;
  color: lightgrey;
}
ul{
  width: 100%;
  padding-left: 0;
}
dl {
  width: 100%;
  border-bottom:  1px solid lightgrey;
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
}
.column-inner{
  padding-bottom: 4px;
  padding-top: 4px
}
.container{
  padding-bottom: 20px;
  padding-top: 4px
}
.title {
  padding-top: 25px;
}
.nothing{
  color: white;
}
