div {
    height: 50px;
    /* background-color: blue */
    border: 1px solid red;
  }
  .col-1 {
    float: left;
    width: 8.33333333%;
  }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
 
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  }

.col-2{
    float: left;
    width: 16.666666%;
  }


.col-3{
    float: left;
    width: 25%;
}
.col-4{
    float:left;
    width: 33.33333%;
}
.col-5{
    float: left;
    width: 41.666666%;
}
.col-6{
    float: left;
    width: 50%;
}
.col-7{
    float: left;
    width: 58.333333%;
}
.col-8{
    float: left;
    width: 66.66666%;
}
.col-9{
    float: left;
    width: 75%;
}
.col-10{
    float: left;
    width: 83.333333%;
}
.col-11{
    float: left;
    width: 91.6666666%;
}
.col-12{
    float: left;
    width: 100%;
}