body {
  background-color: #37393A;
}

input, textarea {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  color: #37393A;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #77B6EA;
  padding: 15px 100px 15px 100px;
  position: fixed;
}

.logo-container {
  width: 100%;
  height: 50px;
  font-family: 'Varela Round', sans-serif;
  font-size: 46px;
  color: #37393A;
}

.reddit-text {
  /* the following line is what allows me to call "position: absolute" in the next class so that the underline is allowed to live "under" the text*/
  position: relative;
}

/* .under-div {
  width: 300px;
  height: 5px;
  background-color: #37393A;
  position: absolute;
  margin-top: 53px;
  margin-left: -20px;
  border-radius: 5px;
} */

.footer {
  width: 100%;
  height: 100px;
  background-color: #77B6EA;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
}

.posts-background {
  margin-top: 120px;
  height: 67vh;
  padding: 2vh;
  /* HEIGHT OBEYS TOP MARGIN BUT NOT BOTTOM. TF IS THE SOLUTION?! */
  background-color: white;
}

#usernameInput {
  position: absolute;
  top: 0px;
  max-width: 30%;
  border-radius: 5px;
  margin-left: -16px;
  border-color: #77B6EA;
}

#messageInput {
  position: absolute;
  right: 0px;
  height: 80px;
  max-width: 69%;
  border-radius: 5px;
  border-color: #77B6EA;
  box-shadow: inset 2px 2px 0px #348bba;
}

#commentUsernameInput {
  position: absolute;
  top: 0px;
  max-width: 30%;
  border-radius: 5px;
  margin-left: -16px;
  border-color: #77B6EA;
}

#commentInput {
  position: absolute;
  right: 0px;
  height: 80px;
  max-width: 69%;
  border-radius: 5px;
  border-color: #77B6EA;
  box-shadow: inset 2px 2px 0px #348bba;
}

::placeholder {
  color: #37393A;
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
}

.submit-div {
  position: absolute;
  top: 30px;
  max-width: 30%;
}

.btn-submit {
  position: absolute;
  top: 18px;
  right: 0px;
  margin-right: 16px;
}

.message-list {
  height: 100px;
  float: none;
  margin: auto;
  height: 63vh;
}

.post-focus {
  height: 100px;
  float: none;
  margin: auto;
  height: 63vh;
}

.post-box {
  background-color: #E8EEF2;
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 5px -3px black;
  padding: 1% 1% 2% 1%;
}

.message-box {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-height: 80%;
  height: auto;
  /* background-color: green; */
}

.delete-icon {
  height: auto;
  color: #37393A;
  text-align: right;
  /* background-color: pink; */
}

.back-icon {
  height: auto;
  color: #37393A;
  text-align: right;
  /* background-color: pink; */
}

.username {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: auto;
  padding: 2px 0px 5px 40px;
  /* background-color: orange; */
}

.comments-icon {
  height: auto;
  color: #37393A;
  text-align: right;
  bottom: 5px;
  align-self: flex-end;
  /* background-color: blue; */
}

.hide {
  display: none;
}
