.left-align{
 	 text-align: left;
 	 font-family: 'Noto Sans HK', sans-serif;
 }

.grey-separator {
 		border-bottom: 1px solid lightgrey;
 }

.jumbotron {
	background-color: white;
	margin-bottom: 0px;
	padding: 32px 0px;
}

.top-padded {
	padding-top: 25px;
}